@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

nav {
  background-image: linear-gradient(to bottom right, #26592b, #183861);
  padding: 10px 0px;
  width: 100vw;
  position: fixed;
  z-index: 99;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
/* style for logo */
.logo {
  width: 200px;
}

/* style for content */
.mainContent {
  display: flex;
  justify-content: space-between;
}

 .icon {
  display: none;
 }

/* styles for Left sidebar: 
this is the navigation bar on the Left side*/
.leftBar {
  background-image: url("images/Update-1.jpg");
  background-position: center;
  background-size: 120% cover;
  height: 100vh;
  width: 18%;
  margin-top: 4%;
  position: fixed;
  left: 0;
}
.leftSideBar {
  /* background-color: rgba(38, 89, 43, 1); */
  background: linear-gradient(
    -45deg,
    rgba(24, 56, 97, 0.95),
    rgba(38, 89, 43, 0.95)
  );
  animation: gradient 5s ease infinite;
  height: 100%;
  background-size: 400% 400%;
  /* width: 100%; */
  margin: 5% auto 0 auto;
  padding: 1rem 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

h3 {
  color: #424242;
  margin: 5px;
  font-size: 17px;
}

ul {
  font-size: 14px;
  margin: 5px;
  padding: 2px;
  line-height: 2;
  color: #2a2a2a;
}

.sub-points {
  list-style: circle;
  margin-left: 2rem;
}
.lefttBar h2 {
  font-size: 20px;
  color: white;
}

.leftSideBar p {
  color: #01bad9;
  /* border-bottom: 1px whitesmoke solid; */
  margin: 1rem;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 3px 13px -3px, rgba(58, 65, 111, 0.5) 0 -1px 0 inset;
}
.second-P {
  display: none;
}

/* Style the buttons in the tab */
.tab {
  margin-top: 1.5rem;
}

.tab button {
  display: block;
  background-color: inherit;
  color: whitesmoke;
  padding: 1rem;
  width: 100%;
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  font-family: "Open Sans";
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(169, 213, 223, 0.25);
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(8, 45, 12);
  color: #01bad9;
  transition: 0.5s;
  box-shadow: rgba(35, 66, 47, 0.4) 0 4px 6px,
    rgba(45, 35, 66, 0.3) 0 6px 13px -2px, #0a4452 0 -2px 0 inset;
  transform: translateY(-1px);
}

/* Create an active/current "tab button" class */
.tab button.active {
  color: whitesmoke;
  box-shadow: #052a32 6px 2px 8px 2px inset;
  transform: translateY(2px);
  background-color: #02262e;
}

/* style for middle content */
.middle {
  margin: 5% 16% 5% 22%;
  background-color: white;
  padding: 1rem 0;
  width: 69%;
}

.middle h2 {
  background-color: rgba(218, 218, 218, 0.5);
  border-radius: 10px;
  padding: 1rem;
  color: #2c2c2c;
  font-size: 19px;
}
.middleContent {
  margin-top: 1rem;
}

.middle .fa {
  color: #01bad9;
}

/* styles for Right sidebar: 
this is the navigation bar on the Right*/

.rightBar {
  position: relative;
  margin: 5% auto;
  position: fixed;
  width: 12%;
  height: 100%;
  padding: 2rem 10px;
  border-left: 1px solid green;
  right: 0;
}

.rightBar .btn {
  display: flex;
  flex-direction: column;
}

.btn .fa-download {
  line-height: 4;
  padding-right: 5px;
}

/* Dropdown */
.download {
  position: relative;
  display: inline-block;
  width: 130px;
}

.download-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 200px;
  margin-left: -11rem;
  border-radius: 10px;
  overflow-y: scroll;
}

.download-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

.download-content a:hover {
  background-color: rgb(227, 223, 223);
 color: #26592b;
  border-radius: 10px;
  transition: 0.3s;
  font-weight: bold;
}

.download:hover .download-content {
  display: block;
}

.btn button {
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #0a4452 0,
    #26592b 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 3px 13px -3px, rgba(58, 65, 111, 0.5) 0 -1px 0 inset;
  box-sizing: border-box;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  display: inline-flex;
  font-family: "Open Sans";
  font-size: 10px;
  height: 40px;
  justify-content: center;
  line-height: 4;
  overflow: hidden;
  padding: 0 2rem;
  position: relative;
  width: 130px;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  margin: 5px;
}


.btn button:hover {
  transform: translateY(-2px);
}


.rightBar a {
  margin: 10px;
  font-size: 16px;
}

p {
  font-size: 12px;
}

.close {
  display: none;
  color:whitesmoke;
}

/* middle Content transition*/

.tabContent {
  animation: fadeEffect 2s;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Responsivness */
/* Tablet screens */

@media only screen and (max-width: 992px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
  }

        .middle h2 {
          margin-top: 2%;
        }
    
        .middle {
          width: 75%;
          margin: 7% 0 0 28%;
        }
  .updates {
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .icon {
    right: 0;
    padding: 2rem 1rem;
    border-radius: 10px;
    display: block;
    color: #26592b;
    font-size: 24px;
    width: 5%;
  }
  /* right sidebar "Modal" */
  #mySidenav {
      width: 0;
      top: 3%;
      z-index: 1;
      right: 0;
      background-color: rgba(17, 17, 17, 0.9);
      overflow-x: hidden;
      transition: 0.5s;
      padding: 1rem 0;
      border-left: none;height: 50vh;
      border-bottom-left-radius: 10px;
      height: 100%;
  }
  .btn {
    right: 0;
    margin-left: 3%;
  }
.close {
  display: block;
  margin: 1px 4px 0 48rem;
  padding: 5px ;
  line-height: 0;
  font-size: 24px;
}
/* dropdown */
.download-content {
  margin: 0 0 0 8rem;
}
  .leftBar {
    margin-top: 7%;
    width: 25%;
  }
  .updates h2 {
    width: 100%;
  }

}
@media only screen and (max-width: 600px){
  .icon {
    margin-top: 5%;
    padding: 5px 1rem;
    font-size: 26px;
  }
  .middle {
    margin-top: 10%;
  }
}

/* Phone screen */

@media only screen and (max-width: 500px) {
  nav {
    top: 0;
  }
  .mainContent {
    display: block;
    padding: 1rem 10px;
  }
  .leftBar {
    display: flex;
    width: 100vw;
    height: 70px;
    overflow: hidden;
    top: 5%;
    padding: 0;
  }

  .leftSideBar {
    width: 100%;
    margin-top: 0;
    display: flex;
      background: linear-gradient(-45deg,
            rgba(24, 56, 97, 0.95),
            rgba(23, 63, 27, 0.95));
            animation: none;
            overflow-x: scroll;
  }
  .tab {
    display: flex;
    justify-content: space-between;
    line-height: 0;
    margin-top: 0;
    height: 0;
    font-size: 16px;
  }
  .tab button {
   padding: 12px 10px 1.5rem 10px;
    width: auto;
    font-size: 14px;
  }
  .tab button:hover {
      background-color: rgba(8, 45, 12, 0.1);
        /* border-bottom: 5px solid #d4c683; */
        transition: 0.2s;
  }
  .tab button.active {
    background-color: rgba(8, 45, 12, 0.1) !important ;
    border-bottom: 5px solid #e7c209;
    box-shadow: none;
  }
  .leftBar p {
    margin: 0;
  }
  .first-P {
    display: none;
  }
  .second-P {
    display: block;
    font-size: 14px;
  }
  .updates {
    margin-top: 4%;
  }
    .middle {
      padding: 10px 1rem;
      width: 99%;
      margin: 25% auto 0 ;
    }
     
        .btn {
          margin: 8% 0 0 8%;
        }
        .close {
          margin-left: 17rem;
        }
   
}
@media only screen and (max-width: 415px) {
  .tab {
      font-size: 16px;
    }
  
    .tab button {
      padding: 12px 8px 1.5rem 8px;
      font-size: 12px;
    }

    .updates {
      margin-top: 10%;
    }
    .middle {
      margin-top: 21%;
    }
         .icon{
          top: 10%;
          /* padding: 1.5rem 10px 0; */
         }
          .download-content {
            width: 190px;
          }
}

@media only screen and (max-width: 250px) {
main {
  display: none;
}
}

/* color codes 

#26592b - green
#d4c683 - yellow
#a9d5df - blue
#01bad9 - mid blue
#183861 - .darker-shade-blue
#f0ad4e - orange

*/
